<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<body style="background-color:lightblue;">
	<h1 style="text-align:center;"> About Us </h1>
	<center>
	 We were founded in 2003 and since than we are doing our best to help you get the best snowmen in the world!</center>
<center><h2>Meet Our Staff</h2></center>
<center>
<div class="row">
  <div class="column">
    <div class="card">
      <h3>Danielle Leah Weiss</h3>
      <img src="static/woman.jpeg" alt="" style="height:200px; width:200px;">
      <div class="container">
        <p class="title">CEO & Founder</p>
        <p>Born in NY in 2003.<br> Lived ans studited in Jerusalem. <br>Studying in UWC-Atlantic College.</p>
        <p>danielleweiss@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
 </center>
</body>
</html>